body {
  font-family: arial;
  background-color: black;
  color: white;
  margin-left: 25px;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    margin-top: 30px;
}

body {
    display: table-cell;
    vertical-align: top;
}

.todo_list_text {
  font-weight: bold;
  font-size: 40px;
}

.todo_grid, 
.todo_input_grid {
  display: grid;
  grid-template-columns: 250px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo_input_grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.name_input, .date_input {
  font-size: 15px;
  padding: 10px 10px;
}

.add_button_design {
  background-color: darkgreen;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.add_button_design:hover {
  background-color: rgb(0, 150, 0);
  transition: background-color, .2s;
}

.delete_button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  padding: 10px 10px;
  cursor: pointer
}

.delete_button:hover {
  background-color: rgb(180, 0, 0);
  transition: background-color, .2s;
}
